/*
 * Averia Serif Libre
 */

/* inconsolata-400 - latin */
@font-face {
    font-family : 'Inconsolata';
    font-style  : normal;
    font-weight : 400;
    src         : url('../asset/font/inconsolata-v16-latin-regular.eot'); /* IE9 Compat Modes */
    src         : local('Inconsolata Regular'), local('Inconsolata-Regular'),
    url('../asset/font/inconsolata-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../asset/font/inconsolata-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../asset/font/inconsolata-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../asset/font/inconsolata-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../asset/font/inconsolata-v16-latin-regular.svg#Inconsolata') format('svg'); /* Legacy iOS */
}

/* inconsolata-700 - latin */
@font-face {
    font-family : 'Inconsolata';
    font-style  : normal;
    font-weight : 700;
    src         : url('../asset/font/inconsolata-v16-latin-700.eot'); /* IE9 Compat Modes */
    src         : local('Inconsolata Bold'), local('Inconsolata-Bold'),
    url('../asset/font/inconsolata-v16-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../asset/font/inconsolata-v16-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../asset/font/inconsolata-v16-latin-700.woff') format('woff'), /* Modern Browsers */
    url('../asset/font/inconsolata-v16-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../asset/font/inconsolata-v16-latin-700.svg#Inconsolata') format('svg'); /* Legacy iOS */
}

/*
 * Averia Serif Libre
 */

/* averia-serif-libre-regular - latin */
@font-face {
    font-family: 'Averia Serif Libre';
    font-style: normal;
    font-weight: 400;
    src: url('../asset/font/averia-serif-libre-v7-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Averia Serif Libre Regular'), local('AveriaSerifLibre-Regular'),
    url('../asset/font/averia-serif-libre-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../asset/font/averia-serif-libre-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../asset/font/averia-serif-libre-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../asset/font/averia-serif-libre-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../asset/font/averia-serif-libre-v7-latin-regular.svg#AveriaSerifLibre') format('svg'); /* Legacy iOS */
}

/* averia-serif-libre-italic - latin */
@font-face {
    font-family: 'Averia Serif Libre';
    font-style: italic;
    font-weight: 400;
    src: url('../asset/font/averia-serif-libre-v7-latin-italic.eot'); /* IE9 Compat Modes */
    src: local('Averia Serif Libre Italic'), local('AveriaSerifLibre-Italic'),
    url('../asset/font/averia-serif-libre-v7-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../asset/font/averia-serif-libre-v7-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../asset/font/averia-serif-libre-v7-latin-italic.woff') format('woff'), /* Modern Browsers */
    url('../asset/font/averia-serif-libre-v7-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../asset/font/averia-serif-libre-v7-latin-italic.svg#AveriaSerifLibre') format('svg'); /* Legacy iOS */
}

/* averia-serif-libre-700 - latin */
@font-face {
    font-family: 'Averia Serif Libre';
    font-style: normal;
    font-weight: 700;
    src: url('../asset/font/averia-serif-libre-v7-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Averia Serif Libre Bold'), local('AveriaSerifLibre-Bold'),
    url('../asset/font/averia-serif-libre-v7-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../asset/font/averia-serif-libre-v7-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../asset/font/averia-serif-libre-v7-latin-700.woff') format('woff'), /* Modern Browsers */
    url('../asset/font/averia-serif-libre-v7-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../asset/font/averia-serif-libre-v7-latin-700.svg#AveriaSerifLibre') format('svg'); /* Legacy iOS */
}

/* averia-serif-libre-700italic - latin */
@font-face {
    font-family: 'Averia Serif Libre';
    font-style: italic;
    font-weight: 700;
    src: url('../asset/font/averia-serif-libre-v7-latin-700italic.eot'); /* IE9 Compat Modes */
    src: local('Averia Serif Libre Bold Italic'), local('AveriaSerifLibre-BoldItalic'),
    url('../asset/font/averia-serif-libre-v7-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../asset/font/averia-serif-libre-v7-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../asset/font/averia-serif-libre-v7-latin-700italic.woff') format('woff'), /* Modern Browsers */
    url('../asset/font/averia-serif-libre-v7-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../asset/font/averia-serif-libre-v7-latin-700italic.svg#AveriaSerifLibre') format('svg'); /* Legacy iOS */
}

/*
 * pt-sans-regular
 */

/* pt-sans-regular - latin */
@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../asset/font/pt-sans-v9-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('PT Sans'), local('PTSans-Regular'),
    url('../asset/font/pt-sans-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../asset/font/pt-sans-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../asset/font/pt-sans-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../asset/font/pt-sans-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../asset/font/pt-sans-v9-latin-regular.svg#PTSans') format('svg'); /* Legacy iOS */
}

/* pt-sans-italic - latin */
@font-face {
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 400;
    src: url('../asset/font/pt-sans-v9-latin-italic.eot'); /* IE9 Compat Modes */
    src: local('PT Sans Italic'), local('PTSans-Italic'),
    url('../asset/font/pt-sans-v9-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../asset/font/pt-sans-v9-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../asset/font/pt-sans-v9-latin-italic.woff') format('woff'), /* Modern Browsers */
    url('../asset/font/pt-sans-v9-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../asset/font/pt-sans-v9-latin-italic.svg#PTSans') format('svg'); /* Legacy iOS */
}

/* pt-sans-700 - latin */
@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../asset/font/pt-sans-v9-latin-700.eot'); /* IE9 Compat Modes */
    src: local('PT Sans Bold'), local('PTSans-Bold'),
    url('../asset/font/pt-sans-v9-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../asset/font/pt-sans-v9-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../asset/font/pt-sans-v9-latin-700.woff') format('woff'), /* Modern Browsers */
    url('../asset/font/pt-sans-v9-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../asset/font/pt-sans-v9-latin-700.svg#PTSans') format('svg'); /* Legacy iOS */
}

/* pt-sans-700italic - latin */
@font-face {
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 700;
    src: url('../asset/font/pt-sans-v9-latin-700italic.eot'); /* IE9 Compat Modes */
    src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'),
    url('../asset/font/pt-sans-v9-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../asset/font/pt-sans-v9-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../asset/font/pt-sans-v9-latin-700italic.woff') format('woff'), /* Modern Browsers */
    url('../asset/font/pt-sans-v9-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../asset/font/pt-sans-v9-latin-700italic.svg#PTSans') format('svg'); /* Legacy iOS */
}
